body {
	padding-top: 60px;
	padding-bottom: 40px;
	color: #ffffff !important;
}


pre#code {
	margin-top: 10px;
	padding: 5px;
	padding-top: 10px;
	padding-left: 25px;
	line-height: normal !important
	font-family: Consolas, "Courier New", monospace !important;
}

pre#li {
	line-height: normal !important;
}

pre li {
	line-height: 5px !important;	
}

#loginbuttons {
	display: inline-block;
	margin-right: 20px;
}

#loginbuttons a {
	width: 28px;
}

#loginbuttons img {
	vertical-align: middle;
}

#originalinfo {
	padding-top: 5px;
}

#alterations {
	margin-top: 10px;
}

textarea#code, pre {
	font-family: Consolas, 'Courier New', courier;
}

.langr { font-size: 7pt; color: #6C6C6C; font-style: italic;}
.titler { width: 465px; display: inline-block; }
.noborder { border: 0px none; }
.navbar {
	z-index: 0 !important;
    font-family: Consolas, "Courier New", monospace !important;
}
.tooltip-inner {
	background-color: #131517 !important;
	color: #ffffff !important;
}
.tooltip-arrow {
	background-color: #131517 !important;
}
