@font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto-Regular-webfont.eot');
    src: url('/font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/Roboto-Regular-webfont.woff') format('woff'),
         url('/font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/font/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
	font-family:"Roboto";
}

.mycode {
	margin-top: 10px;
}

#loginbuttons {
	display: inline-block;
	margin-right: 20px;
}

#loginbuttons a {
	width: 28px;
}

#loginbuttons img {
	vertical-align: middle;
}

#originalinfo {
	padding-top: 5px;
}

#alterations {
	margin-top: 10px;
}

textarea#code, pre {
	font-family: Consolas, 'Courier New', courier;
}

.langr { font-size: 7pt; color: #6C6C6C; font-style: italic;}
.titler { width: 465px; display: inline-block; }
.noborder { border: 0px none; }
.navbar {
    font-family: Consolas, "Courier New", monospace !important;
}

pre {
	white-space: pre !important;
}

.syntaxhighlighter { overflow-y: hidden !important;
overflow-x: auto !important;
 }
 
 .code {
	zoom: 1;
	filter: alpha(opacity=0);
	opacity: 0.0;
}
