Options +FollowSymLinks
Options +Indexes
php_value session.cookie_lifetime 0

RewriteEngine on
RewriteRule ^([0-9]+)$ view.php?id=$1
RewriteRule ^([\w]+)$ $1.php
RewriteRule ^([\w]+)/([0-9]+)$ $1.php?id=$2
